:global(html),
:global(body),
:global(#app) {
    height: 100%;
    margin: 0;
}

.shell {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grid {
    flex: 1;
    min-height: 0;
}

.editorPanel > :global.rs-panel-body {
    height: inherit
}

.loader {
    z-index: 10;
}

.codeHeaderButtons {
    float: right
}

.turnstile {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    z-index: 11;
}

.codeHeaderButtons > button {
    margin-left: 10px
}

@media (min-width: 992px) {
    .grid {
        display: flex;
    }
    .editorPanel {
        height: 100%;
        min-height: 0;
    }
}

@media (max-width: 991px) {
    .editorPanel {
        height: 500px;
    }
}