:8080

root * /frontend

rate_limit {
	log_key
    zone api_limit {
        match {
            path /service/control/*
        }
        key    {http.request.header.X-Forwarded-For}
        events 2     # Allow only 2 events
        window 1m    # Over a 1 min period
    }
}

file_server

header *.js Cache-Control max-age=86400
header *.css Cache-Control max-age=86400
header *.tff Cache-Control max-age=86400

log

reverse_proxy /service/control/* control:8080
