{$SITE_ADDRESS}

root * /frontend

file_server

log

tls /cert.pem /key.pem

reverse_proxy /api/*  backend:8080
reverse_proxy /service/control/* control:1234
reverse_proxy /file-uploads/* minio:9000 {
	header_up Host minio:9000
}
