version: '3'
services:
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    environment:
      - SITE_ADDRESS
    volumes:
      - ${PWD}/cert.crt:/cert.crt
      - ${PWD}/cert.key:/cert.key
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    restart: always
    volumes:
      - ${PWD}/data:/backend/data
    # will be injected via the .env file
    environment:
      - BACKEND_SENTRY_DSN
