.panel {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.panel :global(.rs-panel-body) {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 0;
}

.togglePanelModeButton {
    margin-inline-start: auto;
}

.rightPanelWrapper {
    padding: 5px 0;
    flex: 1;
    min-height: 0;
    overflow: auto;
}
