name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-20.04
    needs: [build]
    timeout-minutes: 60
    steps:
    - uses: microsoft/playwright-github-action@v1
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14.x
    - uses: actions/checkout@v2
    - name: Install k3s
      run: |
        curl -sfL https://get.k3s.io | K3S_KUBECONFIG_MODE=777 INSTALL_K3S_EXEC="server --no-deploy traefik" sh -
        mkdir -p ~/.kube
        cp /etc/rancher/k3s/k3s.yaml ~/.kube/config
    - name: Install dependencies
      run: npm ci
      working-directory: e2e
    - name: Generate K8 files
      run: |
        version="$(bash .github/workflows/determine_docker_image_tag.sh)"
        bash k8/generate.sh $version
    - run: kubectl apply -f k8/
    - name: Run e2e tests
      working-directory: e2e
      run: |
        kubectl wait --timeout 2m --for=condition=available pods --all
        FRONTEND_PORT=$(kubectl get svc frontend -o=jsonpath='{.spec.ports[?(@.port==8080)].nodePort}')
        FRONTEND_URL="http://localhost:$FRONTEND_PORT"
        echo "Host: $FRONTEND_URL"
        npx wait-on "$FRONTEND_URL/service/control/health"
        ROOT_TEST_URL=$FRONTEND_URL npm run test
    - name: Setup tmate session
      if: ${{ failure() }}
      uses: mxschmitt/action-tmate@v3
  lint:
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: frontend
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 15.x
    - name: Install
      run: npm ci
    - name: Lint
      run: npm run lint
    - name: Build
      run: npm run build
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        directory:
          - worker-javascript
          - worker-java
          - worker-python
          - worker-csharp
          - file-service
          - frontend
          - control-service
          - squid
    steps:
      - uses: actions/checkout@v2
      - name: Build image
        run: docker build . --file ${{ matrix.directory }}/Dockerfile --tag local-image
      - name: Login to GitHub Package Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}/${{ matrix.directory }}
          DOCKER_IMAGE_TAG="$(bash .github/workflows/determine_docker_image_tag.sh)"
          DOCKER_IMAGE="$IMAGE_ID:$DOCKER_IMAGE_TAG"
          echo "Docker image: $DOCKER_IMAGE"

          docker tag local-image $DOCKER_IMAGE
          docker push $DOCKER_IMAGE
