name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
    - uses: microsoft/playwright-github-action@v1
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14.x
    - uses: actions/checkout@v2
    - name: Install k3s
      run: |
        curl -sfL https://get.k3s.io | K3S_KUBECONFIG_MODE=777 INSTALL_K3S_EXEC="server --docker --no-deploy traefik" sh -
        mkdir -p ~/.kube
        cp /etc/rancher/k3s/k3s.yaml ~/.kube/config
    - name: Build Docker image control microservice
      run: docker build . -f control-service/Dockerfile --tag ghcr.io/mxschmitt/try-playwright/control-service:latest
    - name: Build Docker image worker-python
      run: docker build . -f worker-python/Dockerfile --tag ghcr.io/mxschmitt/try-playwright/worker-python:latest
    - name: Build Docker image worker-javascript
      run: docker build . -f worker-javascript/Dockerfile --tag ghcr.io/mxschmitt/try-playwright/worker-javascript:latest
    - name: Build Docker image worker-csharp
      run: docker build . -f worker-csharp/Dockerfile --tag ghcr.io/mxschmitt/try-playwright/worker-csharp:latest
    - name: Build Docker image file-service microservice
      run: docker build . -f file-service/Dockerfile --tag ghcr.io/mxschmitt/try-playwright/file-service:latest
    - name: Build Docker image frontend microservice
      run: docker build . -f frontend/Dockerfile --tag ghcr.io/mxschmitt/try-playwright/frontend:latest
    - name: Build Docker image squid
      run: docker build . -f squid/Dockerfile --tag ghcr.io/mxschmitt/try-playwright/squid:latest
    - name: Install dependencies
      run: npm ci
      working-directory: e2e
    - run: kubectl apply -f k8/
    - name: Run e2e tests
      working-directory: e2e
      run: |
        kubectl wait --timeout 2m --for=condition=ready pod -l io.kompose.service=frontend
        FRONTEND_PORT=$(kubectl get svc frontend -o=jsonpath='{.spec.ports[?(@.port==8080)].nodePort}')
        FRONTEND_URL="http://localhost:$FRONTEND_PORT"
        echo "Host: $FRONTEND_URL"
        npx wait-on "$FRONTEND_URL/service/control/health"
        #ROOT_TEST_URL=$FRONTEND_URL npm run test
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
  lint:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        folder: [frontend]
    defaults:
      run:
        working-directory: ${{ matrix.folder }}
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 15.x
    - name: Install
      run: npm ci
    - name: Lint
      run: npm run lint
    - name: Build
      run: npm run build
  build:
    #needs: test
    runs-on: ubuntu-20.04
    if: github.event_name == 'push'
    strategy:
      fail-fast: false
      matrix:
        dockerfile: [worker, file-service, frontend, control-service, squid]
    steps:
      - uses: actions/checkout@v2
      - name: Build image
        run: docker build . --file ${{ matrix.dockerfile }}/Dockerfile --tag local-image
      - name: Login to GitHub Package Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}/${{ matrix.dockerfile }}

          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          # Use Docker `latest` tag convention
          [ "$VERSION" == "master" ] && VERSION=latest

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag local-image $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
